@charset "utf-8";

/* header서식 */
header{
  height:64px;
  background:var(--main_txt_color);
  position:relative;
}
header h1{text-align:center;}
header h1 img{width:48px;padding-top:5px;}

/* 메인 서식 */
main section h2{
  display:none;
  font-size:20px;
  text-align:center;
  padding:20px 0px;
  font-weight:bold;
}
section img{width:100%;display:block;}

/* footer서식 */
footer img{width:100%;}